$primaryColor: #FF2A3A;
$secondaryColor: #888;
$strokeColor: #575757;
$linkTextColor: #fff;
$linkTextHover: #FF2A3A;
$headingFont: "Inter", sans-serif;
$bodyFont: "Inter", sans-serif;
$secondaryFont: '';
$titleTextColor: #fff;
$bodyTextColor: #E0E0E0;
$border: 2px;
